[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Interatrix"]
	path = Interatrix
	url = https://github.com/lbbe-software/interatrix
[submodule "MareyMap"]
	path = MareyMap
	url = https://github.com/lbbe-software/mareymap
[submodule "Mondrian"]
	path = Mondrian
	url = https://github.com/lbbe-software/mondrian
[submodule "fitdistrplus"]
	path = fitdistrplus
	url = https://github.com/lbbe-software/fitdistrplus
[submodule "kissDE"]
	path = kissDE
	url = https://github.com/lbbe-software/kissde
[submodule "rbioacc"]
	path = rbioacc
	url = https://github.com/lbbe-software/rbioacc
[submodule "seqinr"]
	path = seqinr
	url = https://github.com/lbbe-software/seqinr
