[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Mondrian"]
	path = Mondrian
	url = https://github.com/lbbe-software/mondrian
[submodule "rbioacc"]
	path = rbioacc
	url = https://github.com/lbbe-software/rbioacc
[submodule "seqinr"]
	path = seqinr
	url = https://github.com/lbbe-software/seqinr
